.wrapperPanelTeacher {
	.wrapperPanelInfo {
		position: absolute;
		right: 0;
		width: 80vw;
	}
	.wrapperPanelAdmin {
		position: relative;
	}
}
.content {
	display: flex;
	justify-content: center;
}
